asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
defusedxml==0.7.1
Django==6.0.6
django-cors-headers==4.9.0
django-stubs==6.0.5
django-stubs-ext==6.0.5
djangorestframework==3.17.1
djangorestframework-stubs==3.17.0
djangorestframework_simplejwt==5.5.1
gunicorn==26.0.0
httpie==3.2.4
idna==3.18
markdown-it-py==4.2.0
mdurl==0.1.2
multidict==6.7.1
packaging==26.2
Pygments==2.20.0
PyJWT==2.13.0
PySocks==1.7.1
requests==2.34.2
requests-toolbelt==1.0.0
rich==15.0.0
setuptools==82.0.1
sqlparse==0.5.5
types-PyYAML==6.0.12.20260518
typing_extensions==4.15.0
urllib3==2.7.0
whitenoise==6.12.0
